@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25vw;
    width: 100%;
}

li,a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 100%;
    color: #164863;
    text-decoration: none;
}

/*===============================navigation bar styles:===========================*/
.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    z-index: 10000;
    width: 100%;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 1em;
}

.navbar-links a:hover {
    color: #39b6ff;
}

/* Style for the visible login button */
.loginbtn button {
    padding: 9px 25px;
    background-color: #39b6ff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: relative;
    display: inline-block;
    /* Add other styles as needed */
}

.My_account button {
    padding: 9px 25px;
    background-color: #39b6ff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: absolute;
    display: none;
    /* Add other styles as needed */
}

/* Hover styles for both buttons */
/*.loginbtn button:hover,
.My_account button:hover {
    background-color: #b7d2ef;
}*/

.icon {
    display: none;
    color: #c6c1c1;
    text-align: right;
}

@media screen and (max-width: 600px) {
    .navbar-links { display: none; }
    .navbar a.icon {
        display: block;
    }
    .login { display: none; }
}

@media screen and (max-width: 600px) {
    .navbar.responsive .navbar-links {
        display: block;
        width: 100%;
        text-align: center;
    }
    .navbar.responsive .navbar-links a {
        display: block;
        padding: 20px 0;
        font-size: 1em;
    }
    .navbar.responsive .login {
        display: block;
        width: 100%;
        text-align: center;
    }
}

/*==============About section============================*/
#img1_about_section{
    display: block;
    width: 100%;
    height: auto;
}

.about_section {
    font-size: 1em;
    width: 100%;
    position: relative;
    display: inline-block;
}

#h1_of_about_section {
    position: absolute;
    top: 1%; 
    left: 50%; 
    transform: translate(-40%, -50%); 
    background-color: #000000; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 300%; 
    font-family: 'Caveat', cursive;
    text-align: center;
}

#about_h2 {
    text-align: center;
    font-family: 'Caveat', cursive; 
    background-color: #000000; 
    color: #fff; 
    top: 95%;
    left: 40%;
    font-size: 50px; 
}

.imgOfAbout {
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    background-color: #000000;
}

.divOfText {
    font-size: 1em;
    width: 100%;
    background-color: black;
    margin-top: 0%;
    text-align: center;
}

.p_of_about {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 30px;
    top: 8px;
    left: 16px;
}

/*=======================Main page music table===========*/
#h2_playlists {
    margin-left: auto;
    margin-right: auto;
}

.music_table {
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-style: italic;
}

#playlist_page_id {
    background-image: url("Spotify_img_for_playlist_page.jpeg");
    background-size: cover;
    background-position: center;
}

/*=======================Main page - sell content===========*/
.sell_content {
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
}

.sell_content h3 {
    font-size: 30px;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.rectangle {
    height: 5px;
    width: 100px;
    background-color: #0269d0;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
}

#col1 {
    background-color: #288efa;
}

#col2 {
    background-color: #78b9fe;
}

#col3 {
    background-color: #b7d9fc;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*=======================Main page - Plans===============*/
  
* {
    box-sizing: border-box;
}

.plans {
    margin-top: 100px;
}

.plans h3 {
    font-family: "Montserrat";
    font-size: 30px;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #1e5f85;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.signbutton {
    background-color: #50c2e8;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
}

.signbutton:hover {
    color:#a0bddc;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

/*=======================Main page - Contact===========*/
.contact h3 {
    font-family: "Montserrat";
    font-size: 30px;
    margin: auto;
    margin-top: 600px;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.contact_input {
    font-family: "Montserrat";
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*=======================BMI calculator page===========*/

.Bmi {
    font-family: "Montserrat";
    max-width: 400px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 5px;
}

.Bmi h1 {
    font-size: 50px;
}

.Bmi input[type="number"],
.Bmi button {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

.Bmi button {
    background-color: #39b6ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.Bmi button:hover {
    background-color: #a0bddc;
}

.bmi-height input {
    font-family: "Montserrat";
    color: black;
}

.bmi-weight input {
    font-family: "Montserrat";
    color: black;
}

/*=======================Login page===================*/
.Login_info {
    font-family: "Montserrat", sans-serif;
    margin: 0px auto;
    justify-content: center;
    display: flex;
    padding: 100px;
}

.login_txt {
    text-align: right;
}

#Forgot {
    font-size: 10px;
    color: #696a6a;
    margin-left: 35%;
}

.create_account {
    font-family: "Montserrat", sans-serif;
    margin: -100px auto;
    justify-content: center;
    display: flex;
    position:sticky;
}

#password-strength-meter {
    width: 100%;
    height: 12px;
    background-color: #ddd;
    margin-top: 5px; /* Adjust as needed */
    display: flex;
  }
  
  #password-strength-meter.strength {
    flex: 1;
    width: 0;
    height: 3%;
    transition: width 0.3s ease;
  }
  
  #password-strength-meter.weak {
    background-color: #ff6b6b; 
  }
  
  #password-strength-meter.medium {
    background-color: #ffd166; 
  }
  
  #password-strength-meter.strong {
    background-color: #8ee4af; 
  }

.requirement {
  color: red; /* Start with red color by default */
}
.requirement.completed {
  color: green; /* Change to green once requirement is completed */
}

#signup_create {
    margin-left: 1%;
    margin-top: 2%;
    padding: auto;
}

/*=======================aricles page===================*/
#articels_body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#headline {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.youtubevideos {
    max-width: 800px;
    margin: auto auto;
    padding: 100px;
    top: 10%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exercise-section {
    margin-bottom: 40px;
}

.exercise-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-container iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*=======================user page===================*/

/* Account page styles */
.container {
    background-color: white;
    display: flex;
    padding-top: 40px;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    width: 200px;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.tab {
    padding: 100px;
    display: none;
}

.tab.active {
    display: block;
}

